body,h1,h2,h3,h4,h5,h6,p,ul,li,pre,input,small,strong,
img {
	padding:0px;
	margin:0px;
}

body,h1,h2,h3,h4,h5,h6,p,ul,li,pre,input,small,strong {
	font-size:100%;
    line-height:1.4em;
}

img {
	border:none;
}

body {
	//font:11pt/150% Georgia,Cambria,'Palatino Linotype',serif;
	font:70% Verdana,Arial,Helvetica,sans-serif;
	//font:0.8em sans-serif;
	//background-color:#eee;
}

p,pre {
	margin:0 0 14px 0;
}

h1 {
    color:#fff;
    font:2.2em Tahoma,Verdana,Arial,sans-serif;
    letter-spacing:-1px;
}

a {
	color:#7F1D1D;
	//color:#B91313;
	//color:#3172A6;
	//color:#526A74;
	//color:#67939B;
	text-decoration:none;
}
a:hover {
	//background-color:#BFD3E0;
	color:#B91313;
	//text-decoration:underline;
	//border-bottom:1px solid #B91313;
}


pre {
	//border:1px solid #ccc;
	//padding:2px 4px;
	background-color:#ddd;
	font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
	line-height:1.1em;
	font-size:1em;
	overflow:auto;
	//margin:4px 0px;
}


.wrapper {
	width:950px;
	margin:0 auto;
}

#header-wrapper {
	position:absolute;
	width:100%;
	background:#464E52;
	border-bottom:3px solid #67939B;
}
#content-wrapper {
	padding-top:53px;
}


#header {
	background:#464E52;
	height:50px;
}
#header h1 {
	position:absolute;
	z-index:2;
	height:50px;
	line-height:50px;
	margin:0 0 0 30px;
	//text-shadow:1px 1px #464E52;
}
#header h1 a {
	color:#fff;
}
#header h1 a:hover {
	color:#ddd;
	background-color:transparent;
	text-decoration:none;
}

#nav {
	position:absolute;
	bottom:0px;
	width:950px;
}
#nav > ul {
	margin:0 20px 0 154px;
	padding:0;
}
#nav li {
	list-style-type:none;
	display:inline;
}
#nav a {
	display:block;
	float:left;
	margin-left:5px;
	padding:4px 10px 6px 10px;
	color:#fff;
	background-color:#526A74;
	font-weight:bold;
	text-decoration:none;
	//border-bottom:1px solid #67939B;
	border:1px solid #67939B;
	border-bottom-width:0px;
}
#nav > ul#global a {
	float:right;
}
#nav a:hover {
	background:#BFD3E0;
	color:#000;
	border-color:#BFD3E0;
}

#nav-current {
	//color:#eee;
	//background-color:#67939B;
}
#nav-current:hover {
	//color:#fff;
}

#content-container {
	float:left;
	width:100%;
}
#content {
	margin:0 240px 0 0;
}
#right {
	float:left;
	width:240px;
	margin-top:7px;
	margin-left:-240px;
	//background:#E8EEF5;
	//background:#ddd;
	//background:#67939B;
}
#right-sub {
	padding:4px;
}
#right .title {
	padding:2px 6px;
	//background-color:#CADFED;
	//color:#32474B;
	//background-color:#464E52;
	border-bottom:4px solid #464E52;
	//color:#fff;
	text-transform:uppercase;
}
#right .right-sub-section {
	//border:1px solid #D4E0EE;
	margin-top:6px;
	//background:#E8EEF5;
	//background:#eee;
}
#right ul {
	margin:0px 0px 10px 0px;
	padding:10px 0px;
	background:#eee;
}

#right li {
	margin:0px 5px 0px 24px;
}
#left {
	display:none;
	/*float:left;
	width:200px;
	margin-left:-100%;
	background:#FF8539;*/
}
#footer {
	clear:left;
	width:100%;
	background:#464E52;
	color:#FFF;
}
#footer p {
	margin:0;
	padding:5px 10px;
}


.alignright {
	float:right;
	margin:0 0 10px 10px;
}
.alignleft {
	float:left;
}

.taglist {
	display:inline;
	list-style:none;
}
.taglist > li {
	display:inline;
}
.taglist > li:after {
	content:", ";
}
.taglist > li:last-child:after {
	content:"";
}


#searchform {
	border-bottom:2px solid transparent;
}
#searchform div {
	margin-right:10px;
	//margin-right:25px;
}
#s {
	//background-image:url("icon-search.png");
	background-image:url("search.png");
	//background-color:#CAD6E1;
	background-color:#eee;
	background-position:100%;
	background-repeat:no-repeat;
	//border:1px solid #B9C3D1;
	border:1px solid #ccc;
	color:#32474B;
	padding:3px 4px;
	//padding:3px 3px 3px 20px;
	width:100%;
}
#s:hover {
	border-color:#464E52;
}
#s:focus {
	background-color:#fff;
	border-color:#464E52;
}

/*#banner {
	background-image:url(http://blog.jacere.net/wp-content/uploads/2013/03/CRB-10-Jul_1.jpg);
	height:40px;
	margin-bottom:10px;
}*/

.article {
	//background-color:#eee;
	background-color:#fff;
	margin:10px 10px 20px 10px;
	//border:1px solid #464E52;
	//border:1px solid #ddd;
}
.article .title {
	//background-color:#CADFED;
	//background-color:#eee;
	//border:1px solid #464E52;
	border-bottom:4px solid #464E52;
	//background-color:#DFDFDF;
	padding:2px 4px;
	//padding:2px 6px;
}
.article .title small {
	float:right;
	margin-top:3px;
}
.article .title h2 {
	font-size:120%;
	//text-shadow:1px 1px #BFD3E0;
}
.article .title h2 a {
	color:#000;
}
.article .title h2 a:hover {
	background-color:transparent;
}
.article .entry {
	//border:1px solid #E8EEF5;
	//border-width:0px 1px;
	//padding:8px 10px;
	padding:8px 4px;
}
.article .postinfo {
	//background-color:#E8EEF5;
	padding:2px 4px;
}
.article .com {
	float:right;
}
.article .post {
	background-color:#eee;
}
